.wi-cloudy::before {
  content: url("/css/icon/30.png");
}

.wi-cloudy-windy::before {
  content: url("/css/icon/26.png");
}

.wi-showers::before {
  content: url("/css/icon/9.png");
}

.wi-rain::before {
  content: url("/css/icon/12.png");
}

.wi-thunderstorm::before {
  content: url("/css/icon/3.png");
}

.wi-snow::before {
  content: url("/css/icon/14.png");
}

.wi-fog::before {
  content: url("/css/icon/22.png");
}

.wi-night-clear::before {
  content: url("/css/icon/31.png");
}

.wi-night-showers::before {
  content: url("/css/icon/45.png");
}

.wi-night-rain::before {
  content: url("/css/icon/45.png");
}

.wi-night-thunderstorm::before {
  content: url("/css/icon/47.png");
}

.wi-night-snow::before {
  content: url("/css/icon/46.png");
}

.wi-night-alt-cloudy-windy::before {
  content: url("/css/icon/24.png");
}

.wi-day-cloudy::before {
  content: url("/css/icon/34.png");
}

.wi-day-sunny::before {
  content: url("/css/icon/36.png");
}

.wi-night-cloudy::before {
  content: url("/css/icon/27.png");
}
